{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'contact.css' %}">
{% endblock %}

{% block title %}
Contact
{% endblock %}

{% block body %}
{% include "nav.html" %}
{% if request.user.is_authenticated %}
	<div class="split">
		<div class="details">
			<section class="contacts">
				<div class="container">
						<div class="contact_button">
						{% if object.telegram is not None %}
							<button class="btn btn-info mt-2" onclick="location.href='{{ object.telegram }}'">Telegram</button>
						{% endif %}
						</div>
						<form method="post">
							{% csrf_token %}
							{{ form|crispy }}
							<button name="save_details" class="btn btn-primary mt-2" type="submit">Update</button>
						</form>
						<button class="btn btn-danger mt-2" onclick="location.href='{% url 'contact-delete' contact.id %}'">Delete</button>
				</div>
			</section>
		</div>
		
		<div class="tabs">
			<ul class="tabs-list">
				<li class="active"><a href="#tab1">Personal Twitter</a></li>
				<li ><a href="#tab2">Brand Twitter</a></li>
				<li ><a href="#tab3">Telegram</a></li>
			</ul>
			<div id="tab1" class="tab active">
				{% if object.twitter_personal is not None %}
					<a class="twitter-timeline" href="https://twitter.com/{{ object.twitter_personal }}?ref_src=twsrc^tfw">Tweets</a> 
					<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				{% else %}
					<h4>No Personal Twitter Account</h4>
				{% endif %}
			</div>
			<div id="tab2" class="tab">
				
					{% if object.twitter_brand is not None %}
						<a class="twitter-timeline" href="https://twitter.com/{{ object.twitter_brand }}?ref_src=twsrc^tfw">Tweets</a> 
						<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
					{% else %}
						<h4>No Brand Twitter Account</h4>
					{% endif %}
				
			</div>
			
			<div id="tab3" class="tab">
				<div id='thisischat'>
				{% comment %} <div class='tryingtoscroll'> {% endcomment %}
					{% for message in chat %}
						{% if message.out %}					
							<p id="botStarterMessage" class="userText"><span>{{ message.message }}</span></p>
									
							{% else %}
							<p id="botStarterMessage" class='botText'><span>{{ message.message }}</span></p>
													
						{% endif %}
					{% endfor %}
					
						
				</div>
				<form method='post'>
						{% csrf_token %}
						{{ message_form|crispy }}
						<button id='msgsubmit' name="save_message" class="btn btn-primary mt-2" type='submit'>Send</button>
				</form>
				<div>
				
				</div>
			</div>
			
				
			</div>
			
			
		</div>
	</div>
{% else %}
	<section class="contacts">
		<div class="container">
			<h1>Not Authenticated!</h1>
		</div>
	</section>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<script>
	$(document).ready(function () {
		setInterval(function () {console.log('here');
			$("#thisischat").load(window.location.href + " #thisischat");
		}, 3000);
	});
</script>

<script>
	setTimeout (function() {
	$('#msgsubmit').load(window.location.href + ' #msgsubmit');
	}, 1000);
</script>

{% comment %} <script type="text/javascript">
	document.getElementById('jsform').submit();
</script> {% endcomment %}

<script type="text/javascript">
$(document).ready(function(){

  $(".tabs-list li a").click(function(e){
     e.preventDefault();
  });

  $(".tabs-list li").click(function(){
     var tabid = $(this).find("a").attr("href");
     $(".tabs-list li,.tabs div.tab").removeClass("active");   // removing active class from tab

     $(".tab").hide();   // hiding open tab
     $(tabid).show();    // show tab
     $(this).addClass("active"); //  adding active class to clicked tab

  });

});
</script>



{% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.esm.min.js"></script> {% endcomment %}
{% endblock %}

