{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'contact-list.css' %}">
{% endblock %}

{% block title %}
Contact List
{% endblock %}

{% block body %}
{% include "nav.html" %}

<section class="contacts">
	<div class="container">
		<div class="top d-flex m-auto">
			<div class="col-md-6">
				<h1>Contacts</h1>
                <button class="btn-md btn-success btn" onclick="location.href='{% url 'contact-create' %}'">Create New Contact</button>
			</div>
		</div>
		<hr>
		<div class="table-responsive">
			<table class="table">
				<thead class="thead">
					<th scope="col">#</th>
					<th scope="col">Name</th>
					

				</thead>
				<tbody>
					{% for contact in object_list %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td><a href={{contact.id}}>{{ contact.name }}</a></td>
						<td><button class="btn btn-danger mt-2" onclick="location.href='{% url 'contact-delete' contact.id %}'">Delete</button></td>

					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
	$(document).ready(function () {
		setInterval(function () {
			$("#completed").load(window.location.href + " #completed");
		}, 600000);
	});
</script>

{% endblock %}